.buttonAdd{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: var(--secondary-color);
  border-radius: 100%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon{
    background-color: var(--pure-white-color);
  }
  &:hover{
    cursor: pointer;
    filter: brightness(1.1);
  }
}