.budgets{
  height: 100%;
  overflow: scroll;
  &__content{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  &__title{
    padding: 1.5em;
    padding-bottom: 0;
    display: none;
  }

  @media (min-width: 1099px) {
    &__title{
      display: block;
    }
    &__content{
      padding: 1.5em;
    }
  }
}
