.login {
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  &__left {
    flex-basis: 70%;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .titleLogo {
      font-size: 48px;
    }
    .subTitleLogo {
      font-size: 24px;
      padding-bottom: 3em;
    }
  }
  &__right {
    flex-basis: 600px;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
    &__mobile {
      display: none;
    }
  }
  .loginForm {
    width: 500px;
    min-height: 80%;
    max-height: 700px;
    padding: 80px 0 32px 0;
    background-color: var(--secondary-color);
    background-image: url("../../assets/images/balance-bg.svg");
    background-size: cover;
    background-position: -20px 380px;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: var(--pure-white-color);
    transition: height 300ms;
    &__start {
      display: block;
      padding: 0 2.5em;
      padding-bottom: 4em;
      h1 {
        text-align: center;
        color: white;
        font-size: 21px;
      }
    }
    &__content {
      padding: 0 2em;
      button {
        margin-top: 12px;
      }
      .myInput input {
        background-color: rgba($color: #fff, $alpha: 0.1);
        border: 1px solid rgba($color: #fff, $alpha: 0.2);
        color: white;
      }
    }
    &__or {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        position: relative;
        display: block;
        width: 100%;
        border-top: 6px dashed white;
        &::before {
          content: "Lub";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          color: white;
          font-size: 16px;
          font-weight: 600;
          background-color: var(--secondary-color);
          padding: 24px;
          transform: translate(-50%, calc(-50% - 4px));
        }
      }
    }
    &__forget {
      padding: 0 2em;
      flex-grow: 1;
      align-self: flex-end;
      padding-top: 16px;
      span {
        font-size: 12px;
        font-weight: 600;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &__footer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      span {
        font-size: 12px;
        font-weight: 600;
        &:first-child {
          color: rgba($color: #fff, $alpha: 0.5);
        }
        &:last-child {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    &.--success {
      min-height: 400px;
      padding: 0;
    }
    &.--register {
      min-height: 500px;
      justify-content: space-between;
      .loginForm__start {
        padding-bottom: 0em;
      }
    }
  }
  .myInput label {
    color: white;
  }
  .myInput {
    input:focus {
      border-color: white;
    }
  }
}

.btnGoogle {
  margin: 0 2em;
  display: flex;
  background-color: #e63a3a;
  border-radius: 10px;
  color: white;
  .iconWrap {
    width: 60px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span {
    width: calc(100% - 60px);
    align-self: center;
    text-align: center;
  }
  &:hover {
    cursor: pointer;
    filter: brightness(1.1);
  }
}
.loginForm__success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 0 1em;
  h2 {
    color: white;
    font-size: 18px;
    text-align: center;
  }
  p {
    padding-top: 1.5em;
    color: rgba($color: #fff, $alpha: 0.7);
    text-align: center;
  }
  .icon {
    background-color: white;
  }
}
.install-button {
  z-index: 99;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);
  transition: 300ms;
  span:last-child {
    font-weight: 600;
  }
  &:hover {
    cursor: pointer;
    filter: brightness(0.95);
  }
  @media (max-width: 767px) {
    gap: 12px;
    top: 0;
    right: 0;
    margin: 1em;
    span {
      font-size: 13px;
    }
  }
}

@media (max-width: 767px) {
  .login {
    &__left {
      display: none;
    }
    &__right {
      flex-basis: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    &__right__mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 15%;
    }
    .loginForm {
      width: 100%;
      max-height: unset;
      flex-grow: 1;
      border-radius: 0;
      border-top-left-radius: 60px;
      &__forget {
        padding: 0 1em;
        padding-top: 24px;
      }

      &__start {
        display: none;
      }

      &.--register {
        .loginForm__start {
          display: block;
          padding: 0 1em;
        }
      }

      &__content {
        padding: 0 1em;
        padding-top: 2em;
        flex-grow: 1;
      }
    }
    .btnGoogle {
      margin: 0 1em;
    }
  }
}

.verification {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  background-image: url("../../assets/images/balance-bg.svg");
  background-size: cover;
  background-position: -20px 380px;
  background-repeat: no-repeat;
  &__box{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    background-color: var(--pure-white-color);
    border-radius: 12px;
    padding: 2em;

    display: flex;
    flex-direction: column;
    &__body{
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      h2{
        font-size: 22px;
      }
    }
  }
  .btn{
    background-color: #dedede;
    color: var(--secondary-color);
    height: 60px;
  }
  @media (max-width: 767px) {
    &__box{
      max-width: 85%;
      max-height: 50%;
    }
  }
}
