@import url("../../assets/styles/_index.scss");
@mixin hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 90px;
  background-color: var(--bg-color);
  &__balance {
    width: 100%;
    overflow: scroll;

    display: flex;
    align-items: center;
    gap: 20px;

    padding: 0 1em;
    &__item {
      .balance {
        height: 160px;
        width: 290px;
        padding: 1em 1.5em;

        display: flex;
        flex-direction: column;

        background-color: var(--secondary-color);
        background-image: url("../../assets/images/balance-bg.svg");
        background-size: cover;
        background-position: center 60px;
        background-repeat: no-repeat;
        border-radius: 10px;

        &__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &__footer {
          flex-grow: 1;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          h2 {
            transform: translateY(-3.5px);
          }
        }

        h1 {
          color: var(--pure-white-color);
          font-size: 20px;
          font-weight: 500;
        }
        h2 {
          color: var(--pure-white-color);
          font-size: 18px;
          font-weight: 500;
        }
        .iconWrap {
          background-color: var(--secondary-color);
        }
        .icon {
          background-color: var(--pure-white-color);
        }
      }
    }

    &__item:last-child {
      height: 160px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .incomeExpense {
        flex-grow: 1;
        width: 290px;
        gap: 12px;
        padding-left: 1em;
        padding-right: 1em;

        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: var(--secondary-color);
        border-radius: 10px;

        h1 {
          color: var(--pure-white-color);
          font-size: 16px;
          font-weight: 500;
          flex-grow: 1;
        }

        h2 {
          color: var(--pure-white-color);
          font-size: 16px;
          font-weight: 500;
        }
        .icon {
          background-color: var(--pure-white-color);
        }
        .iconWrap {
          background-color: #233e61;
        }
      }
    }
    @include hide-scrollbar;
  }
  &__history {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__budgets {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__section {
    padding: 0 1em;
  }

  .iconWrap {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dashboard__history {
  .history-section {
    display: flex;
    flex-direction: column;
    .day {
      padding-bottom: 4px;
      span {
        font-size: 12px;
        font-weight: 500;
        color: var(--text-color-50);
      }
    }
  }
  &__item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);

    padding: 9px 16px 9px 9px;
    border-radius: 12px;
    &__icon {
      padding-right: 10px;
    }
    &__content {
      flex-grow: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      .amount {
        grid-area: 1 / 2 / 3 / 3;
        justify-self: end;
      }
    }
  }
}

.section__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  & > div {
    display: flex;
    gap: 12px;
    align-items: center;
    .imgWrap {
      background-color: var(--primary-color);
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
    }
  }
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 90px;
  background-color: var(--bg-color);
  &__section {
    padding: 0 1em;
    container-type: inline-size;
    container-name: chartCont;
  }
  &__chart {
    background-color: var(--primary-color);
    border-radius: 12px;
    width: 100%;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 230px;
    column-gap: 10px;
    padding: 20px;
    &__title {
      h2{
        text-transform: capitalize;
      }
      grid-area: 1 / 1 / 2 / 3;
    }
    &__labels {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      .labelItem {
        display: flex;
        align-items: center;
        gap: 10px;
        .box {
          width: 16px;
          height: 16px;
          border-radius: 3px;
          background-color: var(--text-color-30);
        }
        span{
          font-size: 14px;
        }
      }
    }

    &.stats__chart--bar{
      display: block;
      >div{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    @container chartCont (max-width: 470px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

  }
}

.dashboard, .stats{
  overflow: scroll;
  height: 100%;
}

@media (min-width: 1100px) {
  .home {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    overflow: scroll;
    padding: 1.5em 0.5em;
    @include hide-scrollbar;
  }

  .stats{
    flex-basis: 50%;
    max-width: 700px;
    &__section{
      width: 100%;
      min-width: 420px;
    }
  }

  .dashboard{
    container-type: inline-size;
    container-name: dashboardCont;
    flex-basis: 50%;
    overflow: unset;
    &__section{
      min-width: 340px;
      max-width: 700px;
    }

  }

  .dashboard__balance {
    overflow: unset;
    &__item{
      flex-basis: 50%;
      .balance, .incomeExpense{
        width: 100% !important;
      }
    }
    @container dashboardCont (max-width: 600px) {
      flex-direction: column;
      &__item{
       width:100%;
       min-height: 150px;
      }
    }
  }
}

@media (min-width: 1024px) {}
